{% extends "base.html" %}

{% block content %}
<main>
    <div>
        <h1>Login</h1>
        <form method="post">
            <!-- <label for="username">Username:</label>
            <input type="text" name="username">
            <label for="password">password:</label>
            <input type="password" name="password"> -->
            {% csrf_token %}
            {{ form.as_p }}
            <button>Login</button>
        </form>
    </div>
</main>
{% endblock content %}
