{% extends "base.html" %}

{% block content %}
<h1>My Receipts</h1>
<table>
    <thead>
        <td>Vendor</td>
        <td>Total</td>
        <td>Tax</td>
        <td>Date</td>
        <td>Category</td>
        <td>Account</td>
    </thead>
    {% for receipt in receiptlist %}
    <tr>
        <td>{{ receipt.vendor }}</td>
        <td>{{ receipt.total }}</td>
        <td>{{ receipt.tax }}</td>
        <td>{{ receipt.date | date:"m-d-Y"}}</td>
        <td>{{ receipt.category.name }}</td>
        <td>{{ receipt.account.name }}</td>
    </tr>
    {% endfor %}
</table>
</main>
{% endblock content %}
